.container {
  height: 100vh;
  
}
.left {
  background-color: #15616d;
  color: #ffecd1;
  z-index: 1;
  box-shadow: 3px 2px 8px grey;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
}
.left .row {
  height: 50%;
}
.left h2 {
  margin-bottom: -190px;
}
.left form {
  padding-bottom: 20px;
}
.left p {
  margin-top: -180px;
}

.right {
  background-color: #ffecd1;
  
}
.shelf {
  border-bottom: 30px solid #78290f;
  box-shadow: 0px 6px 8px grey;
  padding-left: 20px;
  height: 25%;
}
.synonyms h4 {
  display: inline;
}